aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.27.2
kurigram~=2.2.4
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==11.2.1
psutil
ntgcalls==2.0.2
py-tgcalls==2.2.3
pycryptodome
pydub
pyfiglet
pykeyboard
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
youtube-search-python
yt-dlp==2025.6.9
